/* MEDIA QUERIES */

@media (max-width: 600px){
    
    main .main-text{
        padding: 4%;
    }
    
    main .main-products{
        display: inherit;
        height: auto;
    }

    main .main-products .product{
        margin-top: auto;
    }

    main .main-descriptions, main .main-testimonials .testimonials{
        display: inherit;
        height: auto;
    }

    main .main-descriptions .description .description-content{
        margin: 0 auto;
    }

    main .main-testimonials{
        height: auto;
        padding-bottom: 10%;
    }

    main .main-testimonials .test-content{
        margin: 0  auto;
    }
}