body{
    background-color: var(--dark-color);
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

a{
    color: white;
}

.yay-img{
    width: 240px;
}